*{
    margin:0;
    padding:0;
}

main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#form{
    border:2px dashed red;
    width:25vw;
}

#form form{
    display:flex;
    flex-direction: column;
}

#preview{
    width:210mm;
    height:297mm;
    border:2px dashed blue;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(5,1fr);
}

#header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid black;
}

#header h1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    justify-content: center;
    align-items: center;
}

#header h2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#header h3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#experience{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display:grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3,1fr);
}

#experience h2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#experience h3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#experience h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#experience p{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}